body {
   background-color: rgb(10, 10, 168); 
}
img {
    margin: 20px;
}
.cat1 {
    clip-path: circle(100px at 50% 50%);
}
.cat2 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.cat3 {
    clip-path: polygon(50% -40%, 110% 50%, 50% 100%, -10% 50%);
}
.cat4 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.cat5 {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.cat6 {
    clip-path: polygon(33% 0%, 66% 0%, 86% 13%, 100% 33%, 100% 66%, 86% 86%, 66% 100%, 33% 100%, 13% 86%, 0% 66%, 0% 33%, 13% 13%);
}