@font-face {
    font-family: Proxima Nova;
    src: url(assets/fonts/ProximaNovaRegular.otf);
}
@font-face {
    font-family: FontAwesome;
    src: url(assets/fonts/FontAwesome.otf);
}
body {
    width: 1320px;
    height: 990px;
    min-height: 100vh;
    background-color: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    width: 1320px;
    height: 45px;
    border-radius: 5px 5px 0 0;
    background-color: #2f364a;
    display: flex;
    flex-direction: row-reverse;
}
.help_center {
    display: flex;
    flex-direction: row;
    width: 198px;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin-right: 21px;
}
.header_text {
    font-size: 13px;
    line-height: 26px;
    color: #78829d;
    font-family: "Proxima Nova";
}
a.header_text {
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    color: #78829d;
    font-family: "Proxima Nova";
}
.user_place{
    width: 157px;
    height: 45px;
    background-color: #15a4fa;
    order: -1;
    display: flex;
    border-top-right-radius: inherit;
}
.user {
    width: 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 12px;
    padding-right: 21px;
}
.user_text {
    color: #ffffff;
}
#user_menu::before {
    font-size: 13px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-family: "FontAwesome";
    content: '\f13a';
}
.photo_back {
    width: 28px;
    height: 28px;
    border-radius: 16px;
    background-color: #6eb5eb;
    border: 2px solid #eef1f7;
}
.profile_photo {
    clip-path: circle(50%);
}
#circle {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(25,32,46,0.7490196078431373);;
}
footer {
    width: 1320px;
    height: 45px;
    border-radius: 0 0 5px 5px;
    background-color: #181e2c;
    display: flex;
    flex-direction: row-reverse;
}
.question {
    width: 55px;
    height: 100%;
    background-color: #1f2637;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings {
    width: 55px;
    height: 100%;
    background-color: #15a4fa;
    border-bottom-right-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.question::before {
    font-family: 'FontAwesome';
    content: '\f059';
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}
.settings::before {
    font-family: 'FontAwesome';
    content: '\f013';
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}
main {
    display: flex;
}
aside {
    background-color: #1f2637;
    width: 200px;
    height: 900px;
}
.add_a_book_panel {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.add_a_book {
    width: 160px;
    height: 44px;
    border-radius: 4px;
    border-style: none;
    background-color: #f2795a;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Proxima Nova";
    align-items: center;
}
.add_a_book::before {
    margin-right: 20px;
    font-family: 'FontAwesome';
    content: '\f067';
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}
.divider_top {
    height: 1px;
    background-color: #141824;
}
.divider_bottom {
    height: 1px;
    background-color: rgba(119,129,157,0.10196078431372549);
}
.divider_center {
    height: 4px;
    background-color: rgba(24,30,44,0.8);
}
.navigation {
    height: 240px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding-left: 20px;
}
a.menu_text {
    text-decoration: none;
    width: 130px;
    height: 50px;
    font-size: 13px;
    line-height: 26px;
    color: #78829d;
    font-family: "Proxima Nova";
}
.navigation_elem {
    height: 38px;
}
.navigation_elem:hover {
    margin-left: -20px;
    padding-left: inherit;
    width: inherit;
    height: 38px;
    background-color: #15a4fa;
}
.fa:before {
    margin-right: 10px;
    font-style:normal;
    font-size: 14px;
    line-height: 26px;
    color: #78829d;
    font-weight: 400;
    font-family: "FontAwesome";
}
.fa-book:before {
    content: '\f02d';
}
.fa-history:before {
    content: '\f1da';
}
.fa-globe:before {
    content: '\f0ac';
}
.fa-shopping:before {
    content: '\f07a';
}
.fa-star:before {
    content: '\f005';
}
.fa-th-list:before {
    content: '\f00b';
}
.personal_categories {
    height: 180px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding-left: 20px;
}
.circle {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 10px;
}
#red_circle {
    background-color: #e64c66;
}
#yellow_circle {
    background-color: #ffab00;
}
#blue_circle {
    background-color: #00bfdd;
}
#purple_circle {
    background-color: #7874cf;
}
.list_elem {
    display: flex;
}
.list_elem:hover {
    margin-left: -20px;
    padding-left: inherit;
    width: inherit;
    height: 38px;
    background-color: #15a4fa;
}
.categories_elem {
    height: 38px;
}
.history_text {
    margin-left: 10px;
    width: 134px;
    font-size: 12px;
    line-height: 18px;
    color: #6f7d95;
    font-family: "Proxima Nova";
}
.history_time {
    margin-top: 0px;
    margin-left: 36px;
    width: 154px;
    height: 32px;
    font-size: 12px;
    line-height: 20px;
    color: #78829d;
    font-weight: 300;
    font-family: "Proxima Nova";
}
.clock {
    margin-top: 10px;
}
.clock::before {
    margin-left: 16px;
    content: '\f017';
    font-size: 16px;
    line-height: 26px;
    color: #78829d;
    font-weight: 400;
    font-family: "FontAwesome";
}
.history_mail {
    display: flex;
}
.line_heading {
    width: 1120px;
    height: 70px;
    background-color: #eef1f7;
    display: flex;
    align-items: center;
}
.line_heading_bottom {
    width: 1120px;
    height: 1px;
    background-color: #dadfea;
}
.line_filter_top {
    width: 1120px;
    height: 1px;
    background-color: #f4f6fa;
}
.line_filter {
    width: 1120px;
    height: 49px;
    background-color: #eef1f7;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.line_filter_bottom {
    width: 1120px;
    height: 1px;
    background-color: #dadfea;
}
#browse_books {
    font-size: 22px;
    line-height: 26px;
    color: #444c63;
    font-family: "Proxima Nova";
    margin-left: 20px;
    font-style: normal;
}
.filter_book {
    width: 375px;
    height: inherit;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content:space-around;
    margin-left: 5px;
    padding-left: 0px;
}
.filter_text {
    font-size: 12px;
    line-height: 26px;
    color: #78829d;;
    font-family: "Proxima Nova";
}
.filter_text:hover {
    width: 72px;
    height: 20px;
    border-radius: 9px;
    background-color: #97b3ce;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input {
    width: 400px;
    height: 32px;
    border-radius: 16px;
    background-color: #ffffff;
    border: 1px solid rgba(140,151,178,0.4);
    align-self: flex-end;
    margin-right: 20px;
}
.search {
    position: relative;
}
input::-webkit-input-placeholder {
    width: 635px;
    height: 31px;
    font-size: 13px;
    line-height: 26px;
    padding-left: 10px;
    color: #8c97b2;;
    font-family: "Proxima Nova";
}
.search button {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    background: none;
    position:absolute;
    border: none;
    right: 30px;
    top: 3px;
    
}
.search button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #8c97b2;
}
.hide {
    display: none;
}
.books {
    width: 1120px;
    height: 778px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 10px;
}
.book-overview {
    width: 200px;
    margin:  30px 8px 0px;
    width: calc(1/5*100% - 20px);
}
.book-picture {
    width: 200px;
    height: 275px;
    border-radius: 4px;
    background-color: #97b3ce;
}
.book-model,
.book-author,
.book-rating {
    width: 200px;
    height: 20px;
}
.book-model {
    margin-top: 15px;
    width: 200px;
    font-size: 16px;
    line-height: 26px;
    color: #444c63;
    font-family: "Proxima Nova";
}
.book-author {
    font-size: 12px;
    line-height: 26px;
    color: #6f7d95;
    font-family: "Proxima Nova";
}
.book-rating {
    height: 20px;
    width: 135px;
    font-family: FontAwesome;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 26px;
    display: flex;
    color: #ffab00;
    justify-content: space-between;
}
.book-rating .stars .star {
    float: left;
    cursor: pointer;
}
.book-rating .stars .star:before {
    font-family: 'FontAwesome';
    content: '\f006';
}
.book-rating .stars .star.half-rated:before {
    content: '\f123';
}
.book-rating .stars .star:hover:before,
.book-rating .stars .star.to_rate:before,
.book-rating .stars .star.rated:before {
    content: '\f005';
}
.book-rating .stars .star.no_to_rate:before {
    content: '\f006';
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity0 .2s ease-in;
}
.new-book-modal-content {
    position: absolute;
    top: 5%;
    left: 10%;
    transition: opacity 0.3s ease-in;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border-radius: 5px;
}
.modal-header-button {
    font-size: 20px;
    color: #ffffff;
    background-color: #15a4fa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    border-top-right-radius: 5px;
    font-family: FontAwesome;
}
.modal-header-button:hover {
    cursor: pointer;
}
.modal-body {
    width: inherit;
    background: rgb(238, 241, 247);
    position: relative;
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-title {
    margin-left: 20px;
    color: #ffffff;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.modal-footer {
    display: flex;
    background: rgb(238, 241, 247);
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.modal-footer-button {
    font-size: 20px;
    color: #ffffff;
    background-color: #15a4fa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 100%;
    border: inherit;
}
.modal-footer-button:hover {
    cursor: pointer;
}
.modal-choose-file {
    width: 300px;
    height: 100px;
}